<!DOCTYPE html>
<html>
  <head lang="en">
    <title>Demo App using Flask React</title>
    {{ webpack['app_css.css'] }}
    {{ webpack['app_js.css'] }}
  </head>
  <body>
    <div id="root"></div>
    {{ webpack['app_js.js'] }}
  </body>
</html>
